<header class="flex flex-row bg-green-600 justify-content-center flex-wrap">
  <div class="text-white p-2 flex align-items-center justify-content-center">
    <img src="../assets/resimmm.png" alt="logo" width="15%" class="p-4">
    <h1>GNZ ZeroCarbon</h1>
  </div>
</header>
<div class="flex flex-column bg-green-600 p-4 border-3 border-yellow-700 surface-overlay font-bold flex align-items-center justify-content-center"></div>
<div class="flex flex-row bg-gray-700">
  <div class="col-4">
    <img src="../assets/ka_tLrV9poZdP.jpg" alt="resim bulunamadı" width="90%" class="pl-6 py-4">
  </div>
  <div class="col-8 pt-8 pr-6">
    <h2 class="text-white ">What is Carbon Footprint?</h2>
    <p class="text-white text-justify"> Carbon footprint is a metric that measures the amount of greenhouse gases that an individual, an organization or a country releases directly or indirectly into the atmosphere over a certain period of time. This metric is usually expressed in units of <span class="font-bold">carbon dioxide</span> (CO2) equivalent and is usually measured in <span class="font-bold">kilograms</span> (kg CO2e).<br> <br>
      The concept of carbon footprint is used to assess environmental impact at a personal, corporate or national level and to direct sustainability efforts. This monitoring is important to identify sources of greenhouse gas emissions, develop mitigation strategies, and evaluate measures taken to reduce environmental impact.
      The basic components that make up the carbon footprint are:<br><br>
      <span class="text-green-500 font-bold">Direct Emissions:</span> Direct emissions that are under the control of a person, organization or country arise from activities such as fuel consumption, industrial activities and energy production. <br> <br>
      <span class="text-green-500 font-bold">Indirect Emissions:</span> These emissions are emissions from sources used for the production of goods and services, transportation and energy production. That is, it includes emissions that occur during the production of products or services purchased by the consumer.<br> <br>
      <span class="text-green-500 font-bold">Import and Export Emissions:</span> Trade between countries includes emissions generated during the production of a country's goods and services. Emissions during the production of imported products are included in the carbon footprint of the importing country. <br> <br>
      Carbon footprint calculation evaluates the environmental impact of an organization or individual by taking these factors into account. This assessment provides a basis for developing strategies to enhance environmental sustainability efforts, increase energy efficiency, and reduce greenhouse gas emissions. In addition, monitoring carbon footprint also contributes to the creation of effective policies in the fight against global climate change. <br>
    </p>
  </div>
</div>

<div class="flex flex-row bg-green-600 ">
  <div class="col-5 flex text-white pt-8 pl-8 ml-8">
    <label class="font-bold">What did you do today?</label>
  </div>
  <div class="col-7 flex justify-content-between flex-wrap">
    <form id="ngForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <select name="selection" ngModel #selection="ngModel" class="m-4">
        <option value="Driving_car">I drove a car.</option>
        <option value="Bus_travel">I took a bus trip.</option>
        <option value="Perfume_use">I sprayed perfume.</option>
        <option value="Deodorant_use">I sprayed deodorant.</option>
        <option value="Long_term_hot_water_use">I used hot water.</option>
        <option value="Long_shower_taking">I stayed int the shower for too long.</option>
        <option value="Short_shower_taking">I stayed in the shower for a short time.</option>
        <option value="Waste_burning">I burned garbage.</option>  
        <option value="Coal">I burned coal.</option> 
        <option value="Watching_television">I watched television.</option>
        <option value="Refrigerator_use">I used a refrigerator.</option>
        <option value="Iron_use">I used an iron.</option>
        <option value="Dishwasher_use">I used a dishwasher.</option>
        <option value="Washing_machine_use">I used a washing machine.</option>
        <option value="Hair_dryer_use">I used a hair dryer.</option>
        <option value="Electric_vacuum_cleaner">I used a electric vacuum cleaner.</option>
        <option value="Air_conditioning_heating">I used air conditioning to warm up.</option>
        <option value="Air_conditioning_cooling">I used air conditioning to cool down.</option>
        <option value="Air_travel">I traveled by plane.</option>
        <option value="Electric_car_charging">I charced an electric vehicle.</option>
        <option value="Meat_consumption">I ate meat.</option>
        <option value="Aluminum_can_use">I used a box which is made from aluminium. </option>
        <option value="Paper_bag_use">I used a bag which is made from paper.</option>
      </select>
      @if(selection.value === "Driving_car" || selection.value === "Bus_travel"){
        <label class="text-white">Km:</label>
      }@else if(selection.value === "Deodorant_use" || selection.value === "Perfume_use"){
        <label class="text-white">Quantity:</label>
      }@else if (selection.value === "Long_term_hot_water_use" || selection.value === "Long_shower_taking" || selection.value === "Short_shower_taking") {
        <label class="text-white">Minutes:</label>
      }@else if(selection.value === "Waste_burning" || selection.value === "Coal"){
        <label class="text-white">Kg:</label>
      }@else if(selection.value === "Refrigerator_use" || selection.value === "Iron_use" || selection.value === "Dishwasher_use" || selection.value === "Washing_machine_use" || selection.value === "Hair_dryer_use" || selection.value === "Watching_television" || selection.value === "Air_travel" || selection.value === "Air_conditioning_heating" || selection.value === "Air_conditioning_cooling" || selection.value == "Electric_vacuum_cleaner"){
        <label class="text-white">Hour:</label>
      }@else if(selection.value === "Electric_car_charging" ){
        <label class="text-white">KWh:</label>
      }@else if(selection.value === "Meat_consumption"){
        <label class="text-white">Portion:</label>
      }@else if(selection.value === "Aluminum_can_use" || selection.value === "Paper_bag_use"){
        <label class="text-white">Number:</label>
      }
      <input type="number" name="quantity" ngModel #quantity="ngModel" class="m-4"/>
      <div class="flex align-items-center justify-content-center">
        <button pButton pRipple type="submit" class="m-4 p-button-raised p-button-secondary flex align-items-center justify-content-center" >Make Up For It</button>
      </div>
    </form>
  </div>
</div>
<div class="flex flex-column bg-green-600 p-4 border-3 border-yellow-700 surface-overlay font-bold flex align-items-center justify-content-center">
  @for (item of compensatingActivites; track $index) {
    <div class="flex">
      <p> {{item.name.replaceAll("_"," ")}} which repeats {{item.amount}} times, can compensanete this.</p> <br>
    </div>
  }
</div>
<style>
  .activity {
    margin-bottom: 20px;
  }
</style>
<footer class="flex flex-row bg-gray-700 p-4 flex justify-content-center flex-wrap">
  <div class="text-100 m-4 flex align-items-center justify-content-center">GNZ ZeroCarbon Website</div>
</footer>
<router-outlet></router-outlet>